networks:
# Create an internal network called 'minecraft-network'
# This allows lazymc to connect to minecraft
  minecraft-network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.19.0.0/16

services:
# Creates an instance of lazymc.
# Stops the minecraft server when inactive.
  lazymc:
    image: ghcr.io/joesturge/lazymc-docker-proxy:latest
# Connect to the internal network
    networks:
      minecraft-network:
        ipv4_address: 172.19.1.2
    restart: unless-stopped
# Mount permanent storage, read only
    volumes:
      - /home/dan/Documents/minecraft/data:/server:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - 25565:25565
      
# Creates our minecraft server.
  minecraft:
    image: itzg/minecraft-server:latest
# Wait for restore-backup to complete
#    depends_on:
#      restore-backup:
#        condition: service_completed_successfully
# Update daily.
    pull_policy: always
# Connect to the internal network.
    networks:
      minecraft-network:
        ipv4_address: 172.19.1.3
# Activate lazymc and connect to it.
    labels:
      - lazymc.enabled=true
      - lazymc.group=minecraft
      - lazymc.server.address=minecraft:25565
# Enable console and input in the docker container
# once the server is up
    tty: true
    stdin_open: true
    environment:
# No GUI on the server
      GUI: false
# Sure, someone read the EULA
      EULA: "TRUE"
# Allocates 4-6 gigs of RAM
      INIT_MEMORY: 4G
      MAX_MEMORY: 6G
# Sets the timezone
      TZ: America/Los_Angeles
# Selects the flavor of minecraft. 
# Leaf is supposed to be like Paper, but smoother? 
# And Paper is supposed to be like Vanilla but cleaner? 
# Who the hell knows.
      TYPE: LEAF
# Message of the Day
      MOTD: "Welcome, all ye Animals!"
# Game mode
      MODE: survival
# Are you on the list?
      ENABLE_WHITELIST: true
      WHITELIST_FILE: /home/dan/Documents/minecraft/WHITELIST
      OPS_FILE: /home/dan/Documents/minecraft/OPS
# RCON is some kind of server control thing?
# Remote Controller?
      ENABLE_RCON: true
      RCON_PASSWORD_FILE: /run/secrets/rcon_password
      RCON_PORT: 25575
      BROADCAST_RCON_TO_OPS: true
# Name the level, allow the Nether
      LEVEL: bya1
      ALLOW_NETHER: true
# Allow 12 simultaneous players.
# Not that I expect us to ever get close, 
# but this should be conservative.
      MAX_PLAYERS: 12
# Changing this number influences lag. Mysteriously?
      NETWORK_COMPRESSION_THRESHOLD: 512
      SERVER_NAME: BYA
# Mount permanent storage on the disk
    volumes: 
      - /home/dan/Documents/minecraft/data:/data
    restart: no
# Access the secret password.
    secrets:
      - rcon_password

# Creates the web interface for RCON.
  web:
    image: itzg/rcon
    environment:
# Sets the RCON web username to animal.
      RWA_ENV: true
      RWA_USERNAME: animal
# Accesses RCON web password, stored in a secreted file.
      RWA_PASSWORD_FILE: /run/secrets/rwa_password
# Give admin access to the RCON web interface.
      RWA_ADMIN: true
      RWA_RCON_HOST: minecraft
      RWA_WEB_RCON: true
# Access the RCON password, stored in a secreted file.
      RWA_RCON_PASSWORD_FILE: /run/secrets/rcon_password
    ports:
      - 4326:4326
      - 4327:4327
# Access the secret passwords.
    secrets:
      - rwa_password
      - rcon_password


# Establishes the local location
# of the secret password files.
secrets:
  rcon_password:
    file: /home/dan/Documents/minecraft/rcon_password
  rwa_password:
    file: /home/dan/Documents/minecraft/rwa_password
